html{
    box-sizing: border-box;
}
*, *::before, *::after{
    box-sizing: inherit;
}

body {
    font-family: 'Roboto';
}

.main {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.content {
    width: 65%;
}

.font_400_size14px_height16px {
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 16px;
    color: #333333;
}

.top-line {
    width: 100%;
    height: 50px;
    background: #EFEFEF;
}

.center {
    display: flex;
    align-items: center;
    justify-content: center;
}

.top_link {
    margin: 0 15px;
}

.sec_link {
    margin: 30px 20px;
}

.center_vertical {
    display: flex;
    align-items: center;
}

.between_top_second {
    position: absolute;
    width: 100%;
    height: 20px;
    left: 0px;
    top: 50px;
    background: #FFFFFF;
}

.second_line {
    padding: 20px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
}


.gen_link {
    margin-left: 20px;

    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 42px;
    letter-spacing: 0.1em;
    text-decoration: none;
    color: #66C05D;
}

.button_call_link {
    box-sizing: border-box;
    margin-left:40px;
    padding: 12px 27px;
    background: #FFFFFF;
    border: 2px solid #66C05D;
    border-radius: 40px;
}

.number {
    width: 127px;
    height: 19px;
    left: 1178px;
    top: 30px;

    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    /* identical to box height */
    color: #000000;
}

.between_head_main {
    position: absolute;
    width: 100%;
    height: 0px;
    left: 0px;
    top: 139px;
    border: 30px solid #FFFFFF;
}

.sale {
    padding: 191px 0;
    background: #66C05D;
    position: relative;
}

.sale_text {
    display: flex;
    align-items: flex-start;
    flex-direction: column;
}

.super_chair {


    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 44px;

    color: #FFFFFF;
}

.action_text {

    margin: 50px 0;
    width: 308px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 17.5px;
    color: #FFFFFF;
}

.button_about {

    box-sizing: border-box;
    background: #66C05D;
    border: 2px solid #FFFFFF;
    border-radius: 40px;
    padding: 12px 27px;

    /* button text */
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 16px;
    text-align: center;
    letter-spacing: 0.05em;

    color: #FFFFFF;
}

.big_ellipse {
    position: absolute;
    left: 38.76%;
    top: 0px;

    background: rgba(255, 255, 255, 0);

}

.small_ellipse {
    position: absolute;
    left: 44.5%;
    top: 0px;
    background: rgba(255, 255, 255, 0);
}

.action_armchair {
    position: absolute;
    width: 584px;
    height: 584px;
    left: 45.95%;
    top: 20px;
}

.goods_shop_subscribe {
    padding-bottom: 132px;
    background: #EFEFEF;
}

.goods_text_truck {
    padding: 80px 0 0 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
}

.special_offer_text {

    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 28px;
    color: #000000;
}

.goods {
    position: relative;
    padding: 38px 0;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    justify-items: center;
    background: #EFEFEF;
}

.goods_view {
    margin: 0 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-items: center;
    align-content: center;
    background: #FFFFFF;
    padding-bottom: 25px;
}

.goods_image {
    padding: 25px 35px 0px 35px;
    align-items: center;
}

.goods_description {
    padding: 20px 30px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    text-align: center;

    color: #333333;
}

.price_description {
    padding-bottom: 20px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 21px;
    line-height: 25px;
    text-align: center;
    letter-spacing: 0.05em;

    color: #000000;
}

.goods_button {
    box-sizing: border-box;
    padding: 9px 40px;
    background: #66C05D;
    border-radius: 30px;
    border: 0px solid #66C05D;
    color: #FFFFFF;
}

.subscribe_our_shops {
    position: relative;
    margin-top: 100px;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
}

.subscribe {
    width: 50%;

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-items: center;
    align-content: center;
    justify-content: space-between;
    background: #66C05D
}

.text_mail {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-items: center;
    align-content: center;
}

.subscribe_text {
    padding: 35px 40px;
}

.get_bonus {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 21px;

    color: #FFFFFF;
}

.month_raffle {
    padding-top: 25px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;

    color: #FFFFFF;
}

.mail_cl {
    margin-top: 25px;
    background: #FFFFFF;
    border-radius: 30px;
    border: 1px solid #66C05D;
    width: 225px;
    height: 35px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 16px;
    text-align: left;

    color: black;
}

.mail_icon_class {
    padding-right: 45px;
}

.style_1 {
    width: 50%;
    margin-left: 15px;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-items: center;
    align-content: center;
    background: #66C05D;
}

.our_shops {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-items: center;
    align-content: center;
}

.come_to {
    padding: 35px 0 0 40px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 21px;

    color: #FFFFFF;
}

.about_shops {
    padding-top: 25px;
    padding-left: 40px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;

    color: #FFFFFF;
}

.map {
    margin-left: 40px;
    margin-bottom: 33px;
    margin-top: 25px;
}

.shops_map {
    box-sizing: border-box;
    padding: 9px 28px 9px 29px;
    background: #66C05D;
    border: 2px solid #FFFFFF;
    border-radius: 30px;
    color: #FFFFFF;
}

.footer {
    margin-top: 37px;
    width: 100%;
    background: #FFFFFF;
}

.footer_line {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.social_link_button {
    text-decoration: none;
}

.icons {
    display: flex;
    align-items: center;
}

.icon {
    margin: 0 8px;
    width: 45px;
    height: 45px;
}

.address {

    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 16px;

    color: #000000;
}

.number_footer {

    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
}

.back_call {

    border: 2px solid #66C05D;
    border-radius: 40px;
    margin-left:40px;
    background: #FFFFFF;

    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 16px;

    color: #000000;
}

.end_site {
    margin: 38px;
    background: #EFEFEF;
}

.right_reserved {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
}

.all_right_reserved {
    margin: 25px 0;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 14px;

    color: #828282;
}

.privacy_policy {
    margin: 25px 0;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 14px;
    text-align: right;
    text-decoration: none;
    color: #828282;
}



